
<div class="card card-widget">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-edit"></i>
      Mes applications
    </h3>
    <div class="card-tools">
    <div class="form-group row" style="margin:10px;">
        <label for="searchappli" class="col-sm-4 col-form-label">Rechercher une appli</label>
        <div class="col-sm-8">
        <input type="text"  id="searchappli" name="searchappli" class="form-control" >
        </div>
        </div>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
<div class="card-body">

<div class="row">
    
    
{% for MYAPPLI in APPLIS.installed %}
{% include 'blocks/_detail_appli.twig'%}
{% endfor %}
</div>
</div>

<div class="card-footer">
  </div>
</div>
