
<div class="card card-widget">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-edit"></i>
      Mes applications
    </h3>
    <div class="card-tools">
<form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" id="searchappli" type="search" placeholder="Recherche" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
<div class="card-body">

<div class="row">
    
    
{% for MYAPPLI in APPLIS.installed %}
{% include 'blocks/_detail_appli.twig'%}
{% endfor %}
</div>
</div>

<div class="card-footer">
  </div>
</div>
