  <!-- Profile serveur -->
<div class="card card-primary card-outline">
    <div class="card-body box-profile">

        <h3 class="profile-username text-center">Nom du serveur</h3>

        <p class="text-muted text-center" id="server-version"></p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>En marche depuis</b> <a class="float-right" id="uptime"></a>
            </li>
            <li class="list-group-item">
                <b>Espace disque libre</b> <a class="float-right" id="free-disk"></a>
            </li>
            <li class="list-group-item">
                <b>Adresse IP</b> <a class="float-right">{{ IP }}</a>
            </li>
        </ul>

        <form action="/php/index.php" method="post">
            <button type="submit" name="submit" class="btn btn-warning btn-block">Relancer Docker</button>
        </form>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->