<div class="dropdown-menu animated bounceInDown">
    <div class="mega-dropdown-menu row">
        {#<div class="col-lg-3 col-xlg-2 m-b-30">#}
        <div>
            <h4 class="m-b-20">Mon serveur</h4>
            <div class="card card-hover">
                <div class="card-body"
                    style="background:url(assets/images/background/active-bg.png) no-repeat top center;">
                    <div class="p-t-20 text-center">
                        <span class="display-7 d-block font-medium">Nom du serveur</span>
                        <span id="server-version"></span>
                        <!-- row -->
                        <div class="row m-t-30 m-b-20">
                            <!-- column -->
                            <div class="col-6 border-right">
                                <h3 class="m-b-0 font-medium" id="free-disk"></h3>Libre
                            </div>
                            <!-- column -->
                            <div class="col-6">
                                <h3 class="m-b-0 font-medium" id="uptime"></h3>Up
                            </div>
                        </div>
                        <a href="javascript:void(0)"
                            class="waves-effect waves-light m-t-20 btn btn-lg btn-warning accent-4 m-b-20">Relancer
                            Docker</a>
                    </div>
                </div>
            </div>
        </div>
        {# Pour l'instant, on cache tout le reste, parce qu'on n'a pas les infos
        <div class="col-lg-3 m-b-30">
            <h4 class="m-b-20">Last release</h4>
            <!-- Accordian -->
            <div id="accordion">
                <div class="card m-b-5">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                V. 2.01234
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry.
                        </div>
                    </div>
                </div>
                <div class="card m-b-5">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                V. 2.01233
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry.
                        </div>
                    </div>
                </div>
                <div class="card m-b-5">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                V. 2.01232
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3  m-b-30">
            <h4 class="m-b-20">Contact</h4>
            <!-- Contact -->
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputname1"
                        placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3"
                        placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
        <div class="col-lg-3 col-xlg-4 m-b-30">
            <h4 class="m-b-20">Lien utiles</h4>
            <!-- List style -->
            <ul class="list-style-none">
                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                        You can give link</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                        Give link</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                        Another Give link</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                        Forth link</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i>
                        Another fifth link</a></li>
            </ul>
        </div>
        #}
    </div>
</div>


{#
ANCIEN TEMPLATE

  <!-- Profile serveur -->
<div class="card card-primary card-outline">
    <div class="card-body box-profile">

        <h3 class="profile-username text-center">Nom du serveur</h3>

        <p class="text-muted text-center" id="server-version"></p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>En marche depuis</b> <a class="float-right" id="uptime"></a>
            </li>
            <li class="list-group-item">
                <b>Espace disque libre</b> <a class="float-right" id="free-disk"></a>
            </li>

        </ul>

        <form action="/php/index.php" method="post">
            <button type="submit" name="submit" class="btn btn-warning btn-block">Relancer Docker</button>
        </form>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
#}