<span id="desc-plex_autoscan"><p></p> Outil utilisé par sonarr radarr lidarr pour lancer un scan Plex uniquement sur des fichiers ciblés lors d'un téléchargement</p></span>
<span id="desc-autoscan"><p></p> Sucesseur de Plex_autoscan, Autoscan remplit sensiblement les mêmes fonctions avec un scan Plex uniquement sur des fichiers ciblés lors d'un téléchargement</p></span>
<span id="desc-cloudplow"><p></p> Outil permettant l'automatisation de l'upload du dossier local vers le remote crypté rclone</p></span>
<span id="desc-crop"><p></p> Sucesseur de Cloudplow, Crop remplit sensiblement les mêmes fonctions à savoir l'upload du dossier local vers le remote crypté rclone</p></span>
<span id="desc-oauth"><p></p> L’utilisation de Google OAuth avec Traefik permet d’inscrire des comptes dans la liste blanche, de mettre en œuvre la norme 2FA de Google et de fournir une authentification unique (SSO) à vos services.</p></span>
<span id="desc-cloudflare"><p></p> Cloudflare optimise les performances et la sécurité de vos sites web</p></span>
<span id="desc-readarr"><p></p> Manager ebook pour les utilisateurs de Usenet et BitTorrent</p></span>
<span id="desc-radarr"><p></p> Manager de films pour les utilisateurs de Usenet et BitTorrent</p></span>
<span id="desc-sonarr"><p></p> Manager de séries pour les utilisateurs de Usenet et BitTorrent</p></span>
<span id="desc-lidarr"><p></p> Manager de musiques pour les utilisateurs de Usenet et BitTorrent</p></span>
<span id="desc-medusa"><p></p> Manager de series pour les utilisateurs de Usenet et BitTorrent</p></span>
<span id="desc-tautulli"><p></p> Une application Web basée sur Python pour la surveillance, l'analyse et les notifications pour Plex Media Server.</p></span>

