<span id="desc-plex_autoscan"><p></p> Outil utilisé par sonarr radarr lidarr pour lancer un scan Plex uniquement sur des fichiers ciblés lors d'un téléchargement</p></span>
<span id="desc-autoscan"><p></p> Successeur de Plex_autoscan, Autoscan remplit sensiblement les mêmes fonctions avec un scan Plex uniquement sur des fichiers ciblés lors d'un téléchargement</p></span>
<span id="desc-cloudplow"><p></p> Outil permettant l'automatisation de l'upload du dossier local vers le remote crypté rclone</p></span>
<span id="desc-crop"><p></p> Sucesseur de Cloudplow, Crop remplit sensiblement les mêmes fonctions à savoir l'upload du dossier local vers le remote crypté rclone</p></span>
<span id="desc-oauth"><p></p> L’utilisation de Google OAuth avec Traefik permet d’inscrire des comptes dans la liste blanche, de mettre en œuvre la norme 2FA de Google et de fournir une authentification unique (SSO) à vos services.</p></span>
<span id="desc-cloudflare"><p></p> Cloudflare optimise les performances et la sécurité de vos sites web</p></span>
<span id="desc-readarr"><p></p> Gestionnaire de bibliothèque automatique pour les Ebooks </p></span>
<span id="desc-radarr"><p></p> Gestionnaire de bibliothèque vidéo automatique pour les films </p></span>
<span id="desc-sonarr"><p></p> Gestionnaire de bibliothèque vidéo automatique pour les séries</p></span>
<span id="desc-lidarr"><p></p> Gestionnaire de bibliothèque musical automatique </p></span>
<span id="desc-medusa"><p></p> Gestionnaire de bibliothèque vidéo automatique pour les séries spécialisé US, FR et Animés </p></span>
<span id="desc-tautulli"><p></p> Outils de statistiques pour Plex </p></span>
<span id="desc-bookstack"><p></p> stockez et organisez vos infos sur une plateforme opensource </p></span>
<span id="desc-bitwarden"><p></p> Gestionnaire de mots de passe freemium et open source sous licence AGPL </p></span>
<span id="desc-calibre"><p></p> Gestionnaire de bibliothèques numériques permettant la conversion, le catalogage, l'édition et la visualisation de livres numériques </p></span>
<span id="desc-calibreweb"><p></p> est une application Web offrant une interface claire pour la navigation, la lecture et le téléchargement de livres numériques </p></span>
<span id="desc-chevereto"><p></p> Logiciel d'hébergement d'images qui vous permet d'obtenir votre propre site Web d'hébergement d'images. </p></span>
<span id="desc-cloudcmd"><p></p> Gestionnaire de fichiers pour le Web. Il comprend une console de ligne de commande et un éditeur de texte. </p></span>
<span id="desc-dozzle"><p></p> Dozzle est une application simple et légère qui vous fournit une interface Web pour surveiller en direct les journaux de vos conteneurs Docker.  </p></span>
<span id="desc-duplicati"><p></p> Logiciel de sauvegarde qui planifie et stocke une copie complète ou incrémentielle des fichiers à conserver. </p></span>
<span id="desc-filerun"><p></p> Partage de fichiers pour vos photos, vidéos, fichiers et plus encore </p></span>
<span id="desc-firefox"><p></p> Mozilla Firefox est un navigateur Web gratuit et open-source </p></span>
<span id="desc-jitsi"><p></p> Jitsi est une application libre multiplateforme de messagerie instantanée, voix sur IP et visioconférence </p></span>
<span id="desc-kitana"><p></p> Kitana expose vos interfaces de plugin Plex "au monde extérieur".  </p></span>
<span id="desc-komga"><p></p> Serveur multimédia de bandes dessinées / mangas gratuit et open source. </p></span>
<span id="desc-logarr"><p></p> Logarr est un outil de consolidation de journaux auto-hébergé d'une seule page écrit en PHP </p></span>
<span id="desc-mattermost"><p></p> Mattermost est un logiciel et un service de messagerie instantanée libre auto-hébergeable. </p></span>
<span id="desc-mediawiki"><p></p> MediaWiki est un moteur de wiki pour le Web. Il est utilisé par l’ensemble des projets de la Wikimedia Foundation </p></span>
<span id="desc-mellow"><p></p> Mellow peut communiquer avec plusieurs API comme Ombi, Sonarr, Radarr et Tautulli </p></span>
<span id="desc-minecraft"><p></p> est un jeu qui consiste à placer des blocs et à partir dans des aventures.  </p></span>
<span id="desc-mkvtoolnix"><p></p> MKVToolNix est un ensemble d'outils pour créer, modifier et inspecter les fichiers [Matroska] </p></span>
<span id="desc-monitorr"><p></p> Monitorr est une vitrine Web pour afficher en direct l'état de toute application Web ou service </p></span>
<span id="desc-ntopng"><p></p> est un logiciel informatique de surveillance du trafic sur un réseau informatique. </p></span>
<span id="desc-nowshowing"><p></p> Le menu fixe NowShowing fournit un résumé des nouveaux médias qui ont récemment été ajoutés à Plex </p></span>
<span id="desc-openvpn"><p></p> OpenVPN est un logiciel libre permettant de créer un réseau privé virtuel.  </p></span>
<span id="desc-piwigo"><p></p> Piwigo est une application de gestion d'albums photo pour le web, disponible sous licence GPL </p></span>
<span id="desc-pydio"><p></p> Pydio est un logiciel libre de partage et de synchronisation de fichiers en ligne </p></span>
<span id="desc-pyload"><p></p> Gestionnaire de téléchargement gratuit et Open Source écrit en Python et conçu pour être extrêmement léger, facilement extensible et entièrement gérable via le Web </p></span>
<span id="desc-seafile"><p></p> Seafile est un logiciel open-source permettant de créer un service de stockage et d'applications diverses en ligne sur son propre serveur. </p></span>
<span id="desc-subsonic"><p></p> Subsonic est un serveur multimédia Web open source pour fichier musicaux. </p></span>
<span id="desc-synclounge"><p></p> Profitez de Plex avec vos amis. In Sync. Ensemble. </p></span>
<span id="desc-syncthing"><p></p> Syncthing est une application de synchronisation de fichiers pair à pair open source </p></span>
<span id="desc-ubooquity"><p></p> Ubooquity est un serveur domestique gratuit pour votre bibliothèque de bandes dessinées et de livres électroniques </p></span>
<span id="desc-varken"><p></p> Varken est une application autonome pour agréger les données de l'écosystème Plex dans InfluxDB en utilisant Grafana pour une interface </p></span>
<span id="desc-wetty"><p></p> Terminal sur HTTP et HTTPS. Wetty est une alternative à ajaxterm / anyterm mais bien meilleure qu'eux car wetty utilise l'émulateur de terminal de ChromeOS </p></span>
<span id="desc-wordpress"><p></p> WordPress est un système de gestion de contenu gratuit, libre et open-source </p></span>
<span id="desc-gitlab"><p></p> GitLab est un logiciel libre de forge basé sur git proposant les fonctionnalités de wiki, un système de suivi des bugs, l’intégration continue et la livraison continue. </p></span>
<span id="desc-authelia"><p></p> Outil qui agit comme un portail où l'utilisateur est invité à s'authentifier </p></span>
<span id="desc-bazar"><p></p> Bazarr est une application compagnon de Sonarr, Radarr et gère le téléchargement les sous-titres </p></span>
<span id="desc-deluge"><p></p> Client de téléchargement de torrents comprenant une interface web </p></span>
<span id="desc-emby"><p></p> Serveur multimédia personnel </p></span>
<span id="desc-heimdall"><p></p> Tableau de bord et lanceur d'applications </p></span>
<span id="desc-jackett"><p></p> Liste et référence vos trackers </p></span>
<span id="desc-jdownloader"><p></p> Outil de téléchargement </p></span>
<span id="desc-jellyfin"><p></p> Serveur multimédia personnel </p></span>
<span id="desc-netdata"><p></p> Surveillance des performances en temps réel de votre serveur </p></span>
<span id="desc-nextcloud"><p></p> Gestion et partage de vos fichiers, calendriers, contacts, e-mails et plus encore </p></span>
<span id="desc-nZBHydra"><p></p> Moteur de recherche Usenet </p></span>
<span id="desc-ombi"><p></p> Héberge et gére les requêtes de films ou séries pour votre plex </p></span>
<span id="desc-organizr"><p></p> Organisateur qui regroupe vos services web </p></span>
<span id="desc-plex"><p></p> Serveur de gestion multimédia qui permet d'accéder à vos films, séries, musiques et photos sur votre serveur </p></span>
<span id="desc-portainer"><p></p> Interface de gestion pour vos conteneurs docker </p></span>
<span id="desc-rtorrentvpn"><p></p> Client de téléchargement de torrents protégé par votre VPN et comprenant une interface web </p></span>
<span id="desc-rutorrent"><p></p> Client de téléchargement de torrents comprenant une interface web </p></span>
<span id="desc-sabnzbd"><p></p> Outil de téléchargement pour les newsgroups </p></span>
<span id="desc-sensorr"><p></p> Gestionnaire de bibliothèque vidéo automatique pour les films </p></span>
<span id="desc-transmission"><p></p> Client de téléchargement de torrents comprenant une interface web </p></span>
<span id="desc-sickchill"><p></p> Gestionnaire de bibliothèque vidéo automatique pour les séries spécialisé US </p></span>
<span id="desc-traefik"><p></p> Reverse-proxy - load-balancer HTTP et TCP open-source </p></span>