<!-- Dernieres activites -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Dernières activités</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="log_activites">
        {% for i in 0..5 %}
        <div id="div_log_{{ i }}" style="display:none;">
            <strong><a href="#" id="detail_log_{{ i }}" class="link_detail_log"></a></a></strong>
            <p class="text-muted" id="date_log_{{ i }}"></p><hr />
        </div>
        {% endfor %}
       
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->