<!-- Dernieres activites -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Dernières activités</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" id="log_activites">
       
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->