<!-- Modal: modalPoll -->
<div class="modal fade right" id="modalPoll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->

            <div class="modal-header">
                <p class="heading lead">Installation de l'application <span id="nomappliencours"></span>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
            </div>
            <!--Body-->
            <div id="description-appli" style="margin:15px;"></div>
            <div class="modal-body post">
                <div id="plex-appli" style="display:none">
                    {% include "blocks/modal_install_plex.twig" %}
                </div>
                <div>
                    {% include "blocks/modal_authentification.twig" %}
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="validation_install_appli" class="btn btn-success bouton-install" data-appli="" data-subdomain="" data-authentification="">Installer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: modalPoll -->
<!-- modal confirm uninstall -->
<div class="modal" tabindex="-1" role="dialog" id="modal-confirm-uninstall">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Désinstallation de <span class="appli-uninstall"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Etes vous sur de vouloir désinstaller <b><span class="appli-uninstall"></span></b> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirm-uninstall" data-appli="">Confirmer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal confirm uninstall -->


<!-- modal confirm uninstall outils -->
<div class="modal" tabindex="-1" role="dialog" id="outils-confirm-uninstall">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Désinstallation de <span class="outils-uninstall"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Etes vous sur de vouloir désinstaller <b><span class="outils-uninstall"></span></b> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirm-outils-uninstall" data-appli="">Confirmer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal confirm uninstall outils-->



<!-- Modal: seedbox -->
<div class="modal fade right" id="seedbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Configuration rclone
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
            </div>
            <div class="modal-body post">
                <ul class="nav nav-tabs" id="tab-instsall-navigation" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="link-rclone-tab" data-toggle="tab" href="#tab-rclone" role="tab" aria-controls="tab-rclone" aria-selected="false">Rclone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="link-gdrive-tab" data-toggle="tab" href="#tab-gdrive" role="tab" aria-controls="tab-gdrive" aria-selected="false">Gdrive</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-rclone" role="tabpanel" aria-labelledby="profile-tab">{% include "blocks/modal_install_etape1.twig" %}</div>
                    <div class="tab-pane fade" id="tab-gdrive" role="tabpanel" aria-labelledby="contact-tab">{% include "blocks/modal_install_etape2.twig" %}</div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button id="install-validation" data-step="1" class="btn btn-success">Etape suivante</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: seedbox -->

<!-- Modal: logs -->
<div class="modal fade" id="modal_logs" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Logs du serveur</h4>
            </div>
            <div class="modal-body" id="detail_log" style="white-space:pre-wrap; font-family: monospace;">

            </div>
            <div class="modal-footer float-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>


</div>
<!-- Modal: logs -->

<!-- Modal: applis à installer -->
<div class="modal fade right" id="modal_install_applis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Installer une application</h4>
            </div>
            <div class="modal-body" id="detail_log">
                <div class="form-group row">
                    <label for="uninstall-search" class="col-sm-2 col-form-label">Rechercher</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="uninstall-search">
                    </div>
                  </div>
                Cliquez sur une appli pour l'installer : <br />
                <div class="row">

                    {% for APPLI in UNINSTALLED %} {% include 'blocks/_appli_a_installer.twig' %} {% endfor %}

                </div>
            </div>
            <div class="modal-footer float-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: logs -->

<!-- Modal: Outils -->
<div class="modal fade right" id="modalOutils" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->

            <div class="modal-header">
                <p class="heading lead"><span id="outils"></span>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div id="description" style="margin:15px;"></div>
            <!--Body-->
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="outils_install" class="btn btn-success option_install" data-outils="">Installer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: Outils -->

<!-- Modal: backup -->
<div class="modal fade right" id="modalBackup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead"><span id="backup_appli"></span>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body post">
                <div>
                    {% include "blocks/modal_install_backup.twig" %}
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="crontab" class="btn btn-success crontab" data-backup="">Installer le cron</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: backup -->

<!-- Modal: Oauth -->
<div class="modal fade right" id="modalOauth" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Installation de Google Oauth</span>
                </p>
                <div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body post">
                <div>
                    {% include "blocks/modal_install_oauth.twig" %}
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="oauth_install" class="btn btn-success oauth_install" data-outils="">Installer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: Oauth -->

<!-- Modal: Authelia -->
<div class="modal fade right" id="modalAuthelia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Installation de Authelia</span>
                </p>
                <div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body post">
                <div>
                    {% include "blocks/modal_install_authelia.twig" %}
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="authelia_install" class="btn btn-success authelia_install" data-outils="">Installer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: Authelia -->

<!-- Modal: cloudflare -->
<div class="modal fade right" id="modalCloudflare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Installation de Cloudflare</span>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body post">
                <div>
                    {% include "blocks/modal_install_cloudflare.twig" %}
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="submit" id="cloud_install" class="btn btn-success cloud_install" data-outils="">Installer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: cloudflare -->