                    <p></p>
                    <!-- Radio -->
                    <div class="form-check-inline mb-4">
                        <input class="form-check-input" name="drive" type="radio" id="gdrive" value="gdrive" checked>
                        <label class="form-check-label" for="gdrive">gdrive</label>
                    </div>

                    <div class="form-check-inline mb-4">
                        <input class="form-check-input" name="drive" type="radio" id="sharedrive" value="sharedrive">
                        <label class="form-check-label" for="sharedrive">Sharedrive</label>
                    </div>
                    <!-- Radio -->

                    <!--Basic textarea-->

                    <div>
                        <p></p>
                        <p id="text">Nom du Gdrive - Share Drive</p>
                        <input type="text" id="drivename" class="form-control"
                               placeholder="Enter ..."></input>
                    </div>

                    <div>
                        <p></p>
                        <p id="text">Coller le token
                            <input type="text" id="token" class="form-control"
                                   placeholder="Enter ..."></input>
                    </div>


