<form id="form_modal_plex">

    <!--Body-->
        <div class="form-group row">
            <label for="plexident" class="col-sm-6 col-form-label">Identifiant Plex</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="plexident" name="plexident" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="plexpass" class="col-sm-6 col-form-label">Mot de passe Plex</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="plexpass" name="plexpass" placeholder="Enter ...">
            </div>
        </div>

    <!--Footer-->

</form>
