<!--Header-->

    <!--Body-->
                <p></p>
                <!-- Checkbox -->
                <div class="checkbox">
                    <input type="checkbox" id="myCheck" class="check_install"> Sous Domaines Personalisés
                </div><p></p>
                <!-- Checkbox -->

                <div>
                    <p id="text" style="display:none">Nom du sous domaine</p>
                    <input type="text" id="subdomain" class="form-control" style="display:none" placeholder="Enter ..."></input>
                </div><p></p>
                    
                <div class="checkbox">
                    <input type="checkbox" id="appli-auth" class="auth_install"> Authentification Personalisée (Default basique)
                </div><p></p>
                    
                <div class="form-inine" id="choix-auth" style="display:none">
                    <select class="custom-select my-1 mr-sm-2" id="authentification">
                    <option>basique</option>
                    <option>oauth</option>
                    <option>aucune</option>
                    </select>
                </div>

    <!--Footer-->
