  <!--Header-->


                <!--Body-->

                    <div>
                        <p></p>
                        <p id="text">Id Client</p>
                        <input type="text" id="client" class="form-control"
                               placeholder="Enter ..."></input>
                    </div>

                    <div>
                        <p></p>
                        <p id="text">Id Secret</p>
                        <input type="text" id="secret" class="form-control"
                               placeholder="Enter ..."></input>
                    </div>
