<!--Header-->

<form id="form_install_oauth">

    <!--Body-->
    <p></p>
    <p></p>
    <div>
        <div class="form-group row">
            <label for="clientoauth" class="col-sm-6 col-form-label">Client OAuth 2.0</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="clientoauth" name="clientoauth" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="secretoauth" class="col-sm-6 col-form-label">Secret OAuth 2.0</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="secretoauth" name="secretoauth" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="mailoauth" class="col-sm-6 col-form-label">Mail(s) OAuth 2.0 Autorisé(s)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="mailoauth" name="mailoauth" placeholder="Enter ...">
            </div>
        </div>
    </div>

    <!--Footer-->

</form>
