<!--Header-->

<form id="form_install_cloud">

    <!--Body-->
    <p></p>
    <p></p>
    <div>
        <div class="form-group row">
            <label for="idcloud" class="col-sm-6 col-form-label">Email Cloudflare</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="emailcloud" name="emailcloud" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="idapi" class="col-sm-6 col-form-label">Api Cloudflare</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="apicloud" name="apicloud" placeholder="Enter ...">
            </div>
        </div>
    </div>

    <!--Footer-->

</form>
