<!--Header-->

<form id="form_install_authelia">

    <!--Body-->
    <p></p>
    <p></p>
    <div>
        <div class="form-group row">
            <label for="mailauthelia" class="col-sm-6 col-form-label">Adresse Mail</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="mailauthelia" name="mailauthelia" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="smtpauthelia" class="col-sm-6 col-form-label">Smtp Mail ex: smtp.gmail.com</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="smtpauthelia" name="smtpauthelia" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="portauthelia" class="col-sm-6 col-form-label">Port SMTP ex: 587 pour gmail</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="portauthelia" name="portauthelia" placeholder="Enter ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="passeauthelia" class="col-sm-6 col-form-label">Passe Application Google</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="passeauthelia" name="passeauthelia" placeholder="Enter ...">
            </div>
        </div>

    </div>

    <!--Footer-->

</form>
