{# Pour créer une page, il faut créer un nouveau fichier twig, et mettre :

{% extends 'default.twig' %}
{% block main_content %}
... le contenu qu'on veut ...

{% end block %}

#}
{% include 'header.twig' %}

 <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            {% block main_content %}
                            Contenu par défaut à changer
                            {% endblock %}
                             </div>
                    <!-- /.row -->
                </div>
            </section>
 {% include 'footer.twig' %}