<meta charset="utf-8">
<html lang="fr">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>SSD | Blank Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"> 
{% if ASSET_CSS is empty %} 
    {# On est dans le mode dev, on affiche toutes les inclusions css #}
    {% for css in CSS %} 
        {% if css starts with 'http' %}
            <link rel="stylesheet" href="{{ css }}"> 
        {% else %}
            <link rel="stylesheet" href="dist/css/{{ css }}"> 
        {% endif %} 
    {% endfor %} 
{% else %} 
    {# On est en mode prod, on affiche les assets css générés #}
    {{ ASSET_CSS|raw }} 
{% endif %} 
{# En mode debug, cette variable est remplie par debugbar #}
{{ DEBUGBARJS|raw }}