<!DOCTYPE html>
<html>
    
<head>
    {% include 'header.twig' %}
</head>

<body class="hold-transition sidebar-mini sidebar-collapse">

    {% include 'haut_page.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="content-global">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <h1>
                            {{ TITRE }}
                        </h1>
                    </div>

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                Outils
                                </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item install_outils" data-appli="plex_autoscan" href="#"><span class="fa fa-life-ring"></span> plex_autoscan</a>
                                        <a class="dropdown-item install_outils" data-appli="autoscan" href="#"><span class="fa fa-wrench"></span> autoscan</a>
                                        <a class="dropdown-item install_outils" data-appli="cloudplow" href="#"><span class="fa fa-rocket"></span> cloudplow</a>
                                        <a class="dropdown-item install_outils" data-appli="crop" href="#"><span class="fa fa-taxi"></span> crop</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="fa fa-bullhorn"></span> Autres Applications</a>
                                    </div>
                            </div>
                                    <ol><button type="button" class="btn btn-success" id="affiche-install-appli">Ajout applications
                                        </button></ol>
                                    <ol><button type="button" class="btn btn-success install-modal">Configuration rclone
                                        </button></ol>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        {% block main_content %} 
                        {% include 'blocks/block_server.twig' %} 
                        {% include 'blocks/last_activities.twig' %}
                    </div>
                    <div class="col-md-9">
                        {% include 'blocks/applis.twig' %} {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

            </div>
            </div>
        </section>
        <div style="display:none;">
            <span id="desc-plex_autoscan"> desc plexautoscan</span>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2020 <a href="http://scriptseedboxdocker.com">SSD</a>.</strong> All rights reserved.
        </footer>
    </div>

<!-- Main content -->


</body>
{% include 'footer.twig' %}

</html>
