<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    {% include 'header.twig' %}
</head>

<body data-theme="dark">
    {% include 'blocks/modals.twig' %}
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Light Logo icon -->
                            <img src="assets/images/logo-light-icon@2x.png" alt="homepage" width="76px"
                                class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- Light Logo text -->
                            <img src="assets/images/logo-light-text@2x.png" class="light-logo" width="91px"
                                alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                     <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-information font-24"></i>
                            </a>
                            {% include 'blocks/block_server.twig' %}
                            
                        </li>
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-bell font-24"></i>

                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <ul class="list-style-none">
                                  {% include 'blocks/last_activities.twig' %}
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span
                                class="hide-menu">Menu</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="index.html"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                    class="hide-menu">Accueil </span></a></li>
                        <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span
                                class="hide-menu">Outils</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link one-column has-arrow waves-effect waves-dark"
                                href="javascript:void(0)" aria-expanded="false"><i
                                    class="mdi mdi-inbox-arrow-down"></i><span class="hide-menu">Outils </span></a>
                            <ul aria-expanded="false" class="collapse first-level">

                                <li class="sidebar-item "><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="plex_autoscan"><i
                                            class="fa fa-life-ring"></i><span class="hide-menu"> plex_autoscan
                                        </span><i id="plex_autoscan" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="plex_autoscan_trash" data-toggle="tooltip" data-placement="bottom" title="Suppression" style="display:none;color:black"></i></a></li>

                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="autoscan"><i
                                            class="fa fa-wrench"></i><span class="hide-menu" disabled> autoscan
                                        </span><i id="autoscan" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="autoscan_trash" data-toggle="tooltip" title="Suppression" style="display:none;color:black"></i></a></li>

                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="cloudplow"><i
                                            class="fa fa-wrench"></i><span class="hide-menu"> cloudplow
                                        </span><i id="cloudplow" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="cloudplow_trash" data-toggle="tooltip" title="Suppression" style="display:none;color:black"></i></a></li>


                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="crop"><i
                                            class="fa fa-rocket"></i><span class="hide-menu"> crop
                                        </span><i id="crop" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="crop_trash" data-toggle="tooltip" title="Suppression" style="display:none;color:black"></i></a></li>

                                <div class="dropdown-divider"></div>
                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="oauth"><i
                                            class="fa fa-bullhorn"></i><span class="hide-menu"> Google OAuth 2.0
                                        </span><i id="oauth" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="oauth_trash" data-toggle="tooltip" title="Suppression" style="display:none;color:black"></i></a></li>

                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="cloudflare"><i
                                            class="fa fa-bullhorn"></i><span class="hide-menu">
                                            Cloudflare
                                        </span></a></li>

                                <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link install_outils" data-appli="authelia"><i
                                            class="fa fa-bullhorn"></i><span class="hide-menu">
                                            Authelia
                                        </span><i id="authelia" class="fa fa-check" style="display:none;color:green"></i><i
                                        class="fa fa-trash" id="authelia_trash" data-toggle="tooltip" title="Suppression" style="display:none;color:black"></i></a></li>



                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <div class="dropdown-divider"></div>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="javascript:void(0)"><i
                                    class="mdi mdi-apps"></i><span id="affiche-install-appli"
                                    class="hide-menu">Applications</span></a></li>
                        <!-- ============================================================== -->
                        <div class="dropdown-divider"></div>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href=javascript:void(0)""><i
                                    class="mdi mdi-file-cloud"></i><span class="hide-menu install-modal">Configuration
                                    rclone</span></a></li>
                        <!-- ============================================================== -->
                        <div class="dropdown-divider"></div>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="install.html"><i
                                    class="mdi mdi-arrow-right-bold-circle"></i><span class="hide-menu install-modal">Installation</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col align-self-center">
                        <h4 class="page-title">Applications</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                            </nav>
                        </div>
                    </div>
                     <div class="col align-self-center">
                        <div class="d-flex no-block justify-content-end align-items-center">
                            <input class="form-control form-control-navbar" id="searchappli" type="search"
                                placeholder="Recherche" aria-label="Search">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {% block main_content %}
                {% include 'blocks/applis.twig' %} 
                {% endblock %}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                <strong>Copyright © 2020 <a href="http://scriptseedboxdocker.com">SSD</a>.</strong> All rights reserved.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
     <div style="display:none;">
 {% include 'blocks/description.twig' %}


 </div>

</body>
{% include 'footer.twig' %}
{#








    {% include 'haut_page.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="content-global">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <h1>
                            {{ TITRE }}
                        </h1>
                    </div>

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                Outils
                                </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item install_outils" data-appli="plex_autoscan" href="#"><span class="fa fa-life-ring"></span> plex_autoscan</a>
                                        <a class="dropdown-item install_outils" data-appli="autoscan" href="#"><span class="fa fa-wrench"></span> autoscan</a>
                                        <a class="dropdown-item install_outils" data-appli="cloudplow" href="#"><span class="fa fa-rocket"></span> cloudplow</a>
                                        <a class="dropdown-item install_outils" data-appli="crop" href="#"><span class="fa fa-taxi"></span> crop</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item install_outils" data-appli="oauth" href="#"><span class="fa fa-bullhorn"></span> Google OAuth 2.0</a>
                                        <a class="dropdown-item install_outils" data-appli="cloudflare" href="#"><span class="fa fa-bullhorn"></span> Cloudflare</a>
                                    </div>
                            </div>
                                    <ol><button type="button" class="btn btn-success" id="affiche-install-appli">Ajout applications
                                        </button></ol>
                                    <ol><button type="button" class="btn btn-success install-modal">Configuration rclone
                                        </button></ol>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        {% block main_content %} 
                        {% include 'blocks/block_server.twig' %} 
                        {% include 'blocks/last_activities.twig' %}
                    </div>
                    <div class="col-md-9">
                        {% include 'blocks/applis.twig' %} {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

            </div>
            </div>
        </section>
        <div style="display:none;">
            {% include 'blocks/description.twig' %}
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2020 <a href="http://scriptseedboxdocker.com">SSD</a>.</strong> All rights reserved.
        </footer>
    </div>

<!-- Main content -->


</body>
{% include 'footer.twig' %}

</html>
#}